@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (max-width: 767px) {
  .footer-container {
    @apply p-4 flex flex-col items-center text-center;
  }

  .footer-space-x-4 > * + * {
    @apply ml-4;
  }

  .footer-hidden {
    display: none;
  }

  .footer-mb-6 {
    @apply mb-4;
  }
}

/* swiper */
/* styles/globals.css */

@layer components {
  .swiper-container {
    @apply w-full; /* Ширина контейнера Swiper */
  }

  .swiper-slide {
    @apply flex items-center justify-center; /* Центрирование содержимого */
  }

  .swiper-button-prev,
  .swiper-button-next {
    @apply absolute top-1/2 z-10 w-10 h-10 bg-gray-800 bg-opacity-50 text-white flex items-center justify-center cursor-pointer rounded-full;
    /* Настройка кнопок навигации */
  }

  .swiper-button-prev {
    @apply left-2;
  }

  .swiper-button-next {
    @apply right-2;
  }

  .swiper-button-next::after, 
  .swiper-button-prev::after {
    @apply text-lg; /* Размер иконок */
  }
}
